<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="convert-page"> 

    <nav>
        <div class="nav-container">
            <div class="nav-logo">PORTFOLIO</div>
            <div class="nav-links">
                <a class="active" href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/works">Works</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>


<section class="content">               
    <h1>{{ index.welcome }}</h1>
    <img src="{{ index.image }}" alt="Profile picture" class="profile-img" width="250" height="250">
</section>

<section class="message">               
    <h1>{{ index.name }}</h1>
    <h2>{{ index.speech }}</h2>
</section>

</body>
</html>
