<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Words Converter</h1>

    <form action="/touppercase" method="post">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">

        <input type="submit" value="Convert">
    </form>


    <div class="result-box">
        {{ result }}
    </div>

    
    <div>
        <button onclick="history.back()">Back to Work</button>
    </div>
</body>
</html>
