{% extends "base.html" %}

{% block title %}Works{% endblock %}

{% block content %}

<section id="works-page">
    <h1>My Programming Works</h1>

    <div class="work-buttons">
        <a href="/areaofcircle"><button class="work-btn">Area of a Circle</button></a>
        <a href="/areaoftriangle"><button class="work-btn">Area of a Triangle</button></a>
        <a href="/touppercase"><button class="work-btn">Convert to Uppercase</button></a>
        <a href="/linkedlist"><button class="work-btn">Linked List</button></a>
        <a href="/infixtopostfix"><button class="work-btn">Infix to Postfix</button></a>
    </div>
</section>
{% endblock %}
