<!DOCTYPE html>
<html>
<head>
    <title>Works Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="works-page">

    <a href="/" id="back-btn">Back to Home</a>

    <h1>My Programming Works</h1>

    <div class="work-buttons">
        <a href="/areaofcircle"><button class="work-btn">Area of a Circle</button></a>
        <a href="/areaoftriangle"><button class="work-btn">Area of a Triangle</button></a>
        <a href="/touppercase"><button class="work-btn">Convert to Uppercase</button></a>
    </div>

</body>
</html>
